#titulo{
    font-family: Courier;
    font-size: 25px;
    font-weight: bold;
}
#livro1{
    border: solid 5px darkblue;
    border-radius: 5px;
    background-color: rgb(0, 0, 199);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}
#livro2{
    border: solid 2px darkgreen;
    background-color: rgb(0, 151, 0);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px; 
}
#livro3{
    border: dashed 2px darkseagreen;
    background-color: rgb(159, 185, 159);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}
#livro4{
    border: dotted 5px darkred;
    background-color: rgb(168, 2, 2);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}
#livro5{
    border: double 10px darkturquoise;
    background-color: rgb(127, 201, 202);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}
#livro6{
    border: ridge 5px darkviolet;
    background-color: rgb(167, 103, 194);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}
#livro7{
    border: groove 5px darksalmon;
    background-color: rgb(235, 187, 171);
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 100px;
}